.header{
    width: 100%;
    background-color:black;
    color: white;
    display: flex;
}
   
.header>.item{
    
    width: 20%;
    display: flex;
    justify-content:left;
    


}
.header>.bi{
    width: 100%;
    display: flex;
    justify-content:end;
}
