.k{
    display: flex;
    position: absolute;
    color: white;
    top: 50px;
    left: 50px;
}
.w3c{
    display: flex;
    position: absolute;
    color: white;
    bottom: 50px;
    left: 50px;
}
.ma{
    display: flex;
    position: absolute;
    color: white;
    top: 45%;
    left: 45%;
    font-size: 32px;
}

.y{
    display: flex;
    position: absolute;
    color: white;
    top: 55%;
    left: 50%;
    font-size: 32px;
}
  

    
