.container{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;

}
.container-2{
    width: 100%;
    
    color: white;
    display: flex;
    justify-content:center;
   text-align: center;
}
.item1{
    width: 500px;
    background-color: green;
    text-align: center;
    justify-content: center;
    


}
.item2{
    width: 150px;
    background-color: red;
    text-align: center;
    justify-content: center;
    
}

